<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table class="table">
        <thead>
        <tr>
            <td>名稱</td>
            <td>持有者</td>
            <td>操作</td>
        </tr>
        </thead>

            <tbody>
                <tr>
                    <form action="crud/append.php">
                    <td>
                        <label for="名稱"></label>
                        <input id="名稱" type="text" name="name">
                    </td>
                    <td>
                        <label for="持有者"></label>
                        <input id="持有者" type="text" name="owner">
                    </td>
                    <td>
                        <label for="持有者"></label>
                        <input id="持有者" type="text" name="owner">
                    </td>
                    </form>
                </tr>
            </tbody>

    </table>
</body>
</html>