<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script>
        $('#add_data').click(function () {
            $('#add_form').toggle();
        });
    </script>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <td>名稱</td>
                <td>持有者</td>
                <td>數量</td>
            </tr>
        </thead>
    </table>
    <button id="add_data">新增資料</button>
    <form action="crud/append.php" METHOD="post" enctype="multipart/form-data"  >
        <table id="add_form" hidden>
            <tbody>
                <tr>
                    <td>
                        名稱
                        <input type="text" name="name">
                    </td>
                    <td>
                        持有者
                        <input type="text" name="owner">
                    </td>
                    <td>
                        數量
                        <input type="text" name="amount">
                    </td>
                    <td>
                        <input type="submit" value="新增">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>