<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<{$query_rows}>
    <{foreach from=$query_rows item=row}>
        <div class="row">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <img src="" alt="無圖檔" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-8">
                        名稱：<{$row.name}><br />
                        持有人:<br />
                        數量：<br />
                    </div>
                </div>
            </div>
        </div>
    <{/foreach}>
</body>
</html>